@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  margin-top: 8%;
  background-color: #03a9f4;
}
h1,
h2,
h3,
a {
	color: whitesmoke;
}
a {
	text-decoration: none;
}

/* Header */
header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  padding: 2.5% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.header {
	padding-top: .2em;
	padding-bottom: .2em;
}

.logo {
	font-size: 2.55em;
}

.main-nav {
	margin-top: 5px;
}
.main-nav a {
	color: whitesmoke;
	font-size: 1.25em;
}
.main-nav a:hover {
	color: whitesmoke;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/* Showcase */
.showcase {
  background: #111;
  position: fixed;
  left: 0; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: fixed;
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  object-fit: cover;
  /* opacity: 0.8; */
}
.overlay {
  position: fixed;
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  mix-blend-mode: overlay;
  /* background: #03a9f4; */
}

/* Text */
.text {
  top: 35%;
  left: 10%;
  position: fixed;
  z-index: 10;
}
.text h3 {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0;
  max-width: 700px;
}
.text a {
  color: #111;
  background: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

/* Social Menu */
.social {
  display: flex;
  position: absolute;
  margin: auto;
  max-width: 100%; width: 100%;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

@media (max-width: 991px) {
  .showcase,
  .showcase .header {
    padding: 40px;
  }

  .text {
    margin-left: -5%;
  }
  .text h3 {
    font-size: 1.8em;
  }
  .text p {
    font-size: 1.2em;
  }

  /* Mobile Header */
  .header {
    display: none;
  }
  .header2 {
    padding-top: .4em;
    padding-bottom: .2em;
  }
  .header2 .logo {
    margin-left: -10px;
    font-size: 18pt;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* Mobile Navigation */
  #menuToggle {
    display: block;
    position: relative;
    top: 0px; left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: turquoise;
  }
  #menuToggle input {
    display: block;
    width: 40px; height: 32px;
    position: absolute;
    top: -7px; left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px; height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
  * Toggle to open.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
  * Position Menu
  */
  #menu {
    position: absolute;
    left: calc(-100vw + 50px);
    width: 105vw; height: 108vh;
    margin: -100px 0 0 0px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-200%, -100%);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

@media (min-width: 769px) {
  .text h3 {
    font-size: 2.5em;
  }
  .text p {
    font-size: 1.5em;
  }

  .header,
	.main-nav {
    display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}
  .header2 {
    display: none;
  }
}

@media (min-width: 1250px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .header2 {
    display: none;
  }
	.logo a {
    font-size: 34pt;
  }
}
