@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  margin-top: 8%;
  /* background-color: #03a9f4; */
  background-color: #474e5d;
}

header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  padding: 2.5% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
	padding-top: .2em;
	padding-bottom: .2em;
	background-color:black;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

@media (max-width: 991px) {
  body {
    margin-top: 5em;
  }
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .header h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }

  .header {
    display: none;
  }
  .header2 .logo {
    font-size: 16pt;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }

  .header2 {
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: black;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  }
}

@media (max-width: 800px) {
  .row {
    margin-left: calc(50% - 8em);
  }
}

h1,
h2,
h3,
a {
	color: whitesmoke;
}
a {
	text-decoration: none;
}

.logo {
	font-size: 2.55em;
}

.main-nav {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: whitesmoke;
	font-size: 1.25em;
}
.main-nav a:hover {
	color: whitesmoke;
}

@media (min-width: 769px) {
  body {
    margin-top: 160px;
  }

	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

  .header2 {
    display: none;
  }
}

@media (min-width: 1250px) {
  body {
    margin-top: 115px;
  }

  .row {
    display: float;
    justify-content: center;
  }

	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .header2 {
    display: none;
  }
}

@media (min-width: 1530px) {
  .row {
    display: flex;
    justify-content: center;
  }
}

.section{
  margin-bottom: 1.4em;
}
.section p {
  font-size: 16pt;
  text-align: center;
  color: whitesmoke;
}

/* Leadership Profiles */
.column {
  float: left;
  width: 16em;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  background-color: #333;
  box-shadow: 0 10% 10em 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  color: white;
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.container a {
  font-size: 15pt;
  text-decoration: none;
}
.container p {
  font-size: 13pt;
}
.container h3 {
  font-size: 12pt;
  font-weight: bold;
}

/* Social Menu */
.social {
  position: fixed;
  max-width: 100%; width: 100%;
  margin: auto;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.col-text {
  height: 34em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  margin-left: 2em;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 80%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}
.col-text div p {
  padding: 1em;
  color: whitesmoke;
  font-size: 14pt;
}

@media (max-width: 640px) {
  .grid-flex {
    width: 95%;
    margin-left: 2.5%;
    height: 44em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
    margin-top: -60px;
  }
  .Aligner-item {
    width: 90%;
  }
}

@media (max-width: 350px) {
  body {
    margin-top: 40%;
  }
  
  .col-text div p {
    margin-top: 0px;
  }
}
@media (max-width: 240px) {
  body {
    margin-top: 70%;
  }
}
