@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  margin-top: 8%;
  background-color: #03a9f4;
}
h1,
h2,
h3,
a {
	color: whitesmoke;
}
a {
	text-decoration: none;
}

/* Header */
header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  padding: 2.5% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.header h2 {
  color: #fff;
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.logo {
	font-size: 2.55em;
}

.main-nav {
	margin-top: 5px;
}
.main-nav a {
	color: whitesmoke;
	font-size: 1.25em;
}
.main-nav a:hover {
	color: whitesmoke;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/* Showcase */
.showcase {
  background: #111;
  position: fixed;
  left: 0; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}
.showcase video {
  position: fixed;
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  object-fit: cover;
  /* opacity: 0.8; */
}
.overlay {
  position: fixed;
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  mix-blend-mode: overlay;
  /* background: #03a9f4; */
}

/* Text */
.text {
  top: 35%;
  left: 10%;
  position: fixed;
  z-index: 10;
}
.text h3 {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0;
  max-width: 700px;
}
.text a {
  color: #111;
  background: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

/* Social Menu */
.social {
  display: flex;
  position: fixed;
  margin: auto;
  max-width: 100%; width: 100%;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

@media (max-width: 991px) {
  .showcase,
  .showcase .header {
    padding: 40px;
  }

  .text {
    margin-left: -5%;
  }
  .text h3 {
    font-size: 1.8em;
  }
  .text p {
    font-size: 1.2em;
  }

  .header {
    display: none;
  }
  .header h2 {
    font-size: 3em;
  }

  .header2 .logo {
    font-size: 16pt;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* Mobile Navigation */
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }
  .toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .text h3 {
    font-size: 2.5em;
  }
  .text p {
    font-size: 1.5em;
  }

  .header,
	.main-nav {
    display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}
  .header2 {
    display: none;
  }
	.logo a {
    font-size: 34pt;
  }
}

@media (min-width: 1250px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
  .header2 {
    display: none;
  }
}
